import os  #  Allows Python to interact with the OS
import re  # Regular expression module
import time  # Time module
import shutil  # Access the machine stats
from collections import Counter  # Useful Counting module
from datetime import datetime # Access time features